{% extends 'base.html' %}

{% block global_menu %}
		<nav>
			<h1 class='title'>李と林の<br>メニューリスト</h1>
			<ul class='menu'>
				<li><a href="{% url 'photo-list' %}">Home</a></li>
				<li><a href="{% url 'photo-list' %}">Menu list</a></li>
				<li><a href="http://cook.li-lim.com/photo-add">Add menu</a></li>
				<li><a href="{% url 'random' %}">Menu game</a></li>
			</ul>
			<div class="align-self-end">
				{% if user.is_authenticated %}
					<button class="btn btn-outline-secondary">Sign-out</button>
				{% else %}
					<button class="btn btn-outline-secondary">Sign-in</button>
				{% endif %}
			</div>
		</nav>
{% endblock global_menu %}

{% block bodys %}
		<div class="section">
			{% block body %}
			{% endblock body %}
		</div>
{% endblock bodys %}
