{% extends 'base.html' %}

{% block global_menu %}
		<nav>
			<h1 class='title'>李と林の<br>メニューリスト</h1>
			<ul class='menu'>
				<li><a href="{% url 'photo-list' %}">Home</a></li>
				<li><a href="{% url 'photo-list' %}">Menu list</a></li>
				{% if user.is_authenticated %}
				<li><a href="photo-add/">Add menu</a></li>
				{% else %}
				<li><a href="{% url 'common:login' %}">Add menu</a></li>
				{% endif %}
				<li><a href="{% url 'random' %}">Menu game</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url 'common:logout' %}">Logout</a></li>
				{% endif %}
			</ul>
			<div class="align-self-end">
			</div>
		</nav>
{% endblock global_menu %}

{% block bodys %}
		<div class="section">
			{% block body %}
			{% endblock body %}
		</div>
{% endblock bodys %}
